In [1]:
import pandas as pd
from translation import translate_dataframe
from project.config import api_key
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/janburakowski/anaconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/janburakowski/anaconda3/lib/python3.11/site-packages (from openpyxl) (2.0.0)

In [2]:
file_path = 'data/Indices of Industrial Production 2015.xlsx'
data = pd.read_excel(file_path, header=None)

data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Індекси промислової продукції за видами діяльн...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Indices of Industrial Production, by types of ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(остаточні дані),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(final data),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(відсотків до попереднього місяця/ percent to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Споживчі товари тривалого використання,NaN,77.3,93.6,101.7,90.8,93.8,105,115.6,90.7,123.1,93.6,95.8,109.4,Consumer durables
147,Енергія,NaN,94.1,88.5,104.9,90.9,96.2,100.7,99.5,96.8,100.2,108.6,101.4,113.1,Energy
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,¹ Дані наведено без урахування тимчасово окупо...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Примітка: індекси переглянуті у зв'язку зі змі...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = data.iloc[5:]
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
5,NaN,Код за КВЕД-2010 /\nCode of CTEA-2010,Січень / \nJanuary,Лютий / \nFebruary,Березень / \nMarch,Квітень / \nApril,Травень /\nMay,Червень/ \nJune,Липень / \nJuly,Серпень/ \nAugust,Вересень / \nSeptember,Жовтень / \nOctober,Листопад / \nNovember,Грудень / \nDecember,NaN
6,Промисловість,B+C+D,85.4,96.5,107.1,96,100,100.2,100.9,96,106.2,108.1,97.7,102.9,Industry
7,за видами діяльності / by type of activity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Добувна та переробна промисловість,B+C,84.3,98.6,108.5,98.9,102,100.7,100.3,96.7,106.7,106.7,95.3,100.7,Mining and manufacturing
9,Добувна промисловість і розроблення кар'єрів,B,96.6,89.9,109.8,98.3,106.6,99.7,97.4,101.6,97.5,103.4,90,109.7,Mining and quarrying
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Споживчі товари тривалого використання,NaN,77.3,93.6,101.7,90.8,93.8,105,115.6,90.7,123.1,93.6,95.8,109.4,Consumer durables
147,Енергія,NaN,94.1,88.5,104.9,90.9,96.2,100.7,99.5,96.8,100.2,108.6,101.4,113.1,Energy
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,¹ Дані наведено без урахування тимчасово окупо...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Примітка: індекси переглянуті у зв'язку зі змі...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data = data.drop(data.columns[0], axis=1)
data = data.drop(data.columns[0], axis=1)

data

,2,3,4,5,6,7,8,9,10,11,12,13,14
5,Січень / \nJanuary,Лютий / \nFebruary,Березень / \nMarch,Квітень / \nApril,Травень /\nMay,Червень/ \nJune,Липень / \nJuly,Серпень/ \nAugust,Вересень / \nSeptember,Жовтень / \nOctober,Листопад / \nNovember,Грудень / \nDecember,NaN
6,85.4,96.5,107.1,96,100,100.2,100.9,96,106.2,108.1,97.7,102.9,Industry
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,84.3,98.6,108.5,98.9,102,100.7,100.3,96.7,106.7,106.7,95.3,100.7,Mining and manufacturing
9,96.6,89.9,109.8,98.3,106.6,99.7,97.4,101.6,97.5,103.4,90,109.7,Mining and quarrying
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,77.3,93.6,101.7,90.8,93.8,105,115.6,90.7,123.1,93.6,95.8,109.4,Consumer durables
147,94.1,88.5,104.9,90.9,96.2,100.7,99.5,96.8,100.2,108.6,101.4,113.1,Energy
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
col_to_move = data.columns[12]

data = data[[col_to_move] + [col for col in data.columns if col != col_to_move]]

data

,14,2,3,4,5,6,7,8,9,10,11,12,13
5,NaN,Січень / \nJanuary,Лютий / \nFebruary,Березень / \nMarch,Квітень / \nApril,Травень /\nMay,Червень/ \nJune,Липень / \nJuly,Серпень/ \nAugust,Вересень / \nSeptember,Жовтень / \nOctober,Листопад / \nNovember,Грудень / \nDecember
6,Industry,85.4,96.5,107.1,96,100,100.2,100.9,96,106.2,108.1,97.7,102.9
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Mining and manufacturing,84.3,98.6,108.5,98.9,102,100.7,100.3,96.7,106.7,106.7,95.3,100.7
9,Mining and quarrying,96.6,89.9,109.8,98.3,106.6,99.7,97.4,101.6,97.5,103.4,90,109.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Consumer durables,77.3,93.6,101.7,90.8,93.8,105,115.6,90.7,123.1,93.6,95.8,109.4
147,Energy,94.1,88.5,104.9,90.9,96.2,100.7,99.5,96.8,100.2,108.6,101.4,113.1
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data = data[data.iloc[:, 0].isin(["Mining and manufacturing", "Mining and quarrying", "Manufacturing"])]

data

,14,2,3,4,5,6,7,8,9,10,11,12,13
8,Mining and manufacturing,84.3,98.6,108.5,98.9,102,100.7,100.3,96.7,106.7,106.7,95.3,100.7
9,Mining and quarrying,96.6,89.9,109.8,98.3,106.6,99.7,97.4,101.6,97.5,103.4,90,109.7
16,Manufacturing,78.7,103.4,107.8,99.2,99.8,101.2,101.8,94.3,111.5,108.3,97.6,97

In [7]:
data['Average'] = data.iloc[:, 2:14].mean(axis=1)
data = data.drop(columns=data.columns[2:14])

data

/var/folders/q6/zqzbkz3d7b1_v631qbw77w080000gn/T/ipykernel_11388/3550022826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Average'] = data.iloc[:, 2:14].mean(axis=1)

                          14     2
8   Mining and manufacturing  84.3
9       Mining and quarrying  96.6
16             Manufacturing  78.7

In [8]:
data.columns = [0, 1]
data.index = [0, 1, 2]
data

                          0     1
0  Mining and manufacturing  84.3
1      Mining and quarrying  96.6
2             Manufacturing  78.7

In [9]:
from translation import clean_manufacturing_files

In [18]:
file_path_2015 = 'data/Indices of Industrial Production 2015.xlsx' 

file_path_2016 = 'data/Indices of Industrial Production 2016.xlsx'

file_path_2017 = 'data/Indices of Industrial Production 2017.xlsx'

file_path_2018 = 'data/Indices of Industrial Production 2018.xlsx'

file_path_2019 = 'data/Indices of Industrial Production 2019.xlsx'

file_path_2020 = 'data/Indices of Industrial Production 2020.xlsx'

file_path_2021 = 'data/Indices of Industrial Production 2021.xlsx'

file_path_2022 = 'data/Indices of Industrial Production 2022.xlsx'

file_path_2023 = 'data/Indices of Industrial Production 2023.xlsx'

file_path_2024 = 'data/Indices of Industrial Production 2024.xlsx'

files = [file_path_2015, file_path_2016, file_path_2017, file_path_2018, file_path_2019, file_path_2020, file_path_2021, file_path_2022, file_path_2023, file_path_2024]

In [21]:
year = 2015
data_frames = {}
for path in files:
    data = clean_manufacturing_files(path)
    data_frames[year] = data
    
    year += 1

print(data_frames)

{2015:                           0     1
0  Mining and manufacturing  84.3
1      Mining and quarrying  96.6
2             Manufacturing  78.7, 2016:                           0     1
0  Mining and manufacturing  84.9
1      Mining and quarrying  97.5
2             Manufacturing  79.1, 2017:                           0     1
0  Mining and manufacturing  84.9
1      Mining and quarrying  97.1
2             Manufacturing  79.7, 2018:                           0      1
0  Mining and manufacturing   89.3
1      Mining and quarrying  100.6
2             Manufacturing   84.8, 2019:                           0     1
0  Mining and manufacturing  88.8
1      Mining and quarrying  96.4
2             Manufacturing  85.6, 2020:                           0      1
0  Mining and manufacturing   90.2
1      Mining and quarrying  103.9
2             Manufacturing   84.8, 2021:                           0     1
0  Mining and manufacturing  82.9
1      Mining and quarrying  95.9
2             Manufacturing  77.7, 2022:                           0     1
0  Mining and manufacturing  85.1
1      Mining and quarrying  96.6
2             Manufacturing  80.6, 2023:                           0      1
0  Mining and manufacturing   93.1
1      Mining and quarrying  102.4
2             Manufacturing     89, 2024:                           0      1
0  Mining and manufacturing   87.5
1      Mining and quarrying  101.8
2             Manufacturing   81.9}

In [23]:
data_merged = data_frames[2015].copy()
data_merged.columns = ['Category', 2015]

# Merge subsequent years into the result DataFrame
for year, df in data_frames.items():
    if year != 2015:
        df.columns = ['Category', year] 
        data_merged = data_merged.merge(df, on='Category', how='inner')  

data_merged

,Category,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Mining and manufacturing,84.3,84.9,84.9,89.3,88.8,90.2,82.9,85.1,93.1,87.5
1,Mining and quarrying,96.6,97.5,97.1,100.6,96.4,103.9,95.9,96.6,102.4,101.8
2,Manufacturing,78.7,79.1,79.7,84.8,85.6,84.8,77.7,80.6,89,81.9

In [ ]:
import matplotlib.pyplot as plt

# Set the 'Category' column as the index for easier plotting
data_merged.set_index('Category', inplace=True)

# Transpose the DataFrame to have years on the x-axis
result_transposed = data_merged.transpose()

# Plot the data
plt.figure(figsize=(10, 6))
for category in result_transposed.columns:
    plt.plot(result_transposed.index, result_transposed[category], label=category)

# Add labels, title, and legend
plt.title("Progression Over Years", fontsize=14)
plt.xlabel("Year", fontsize=12)
plt.ylabel("Value", fontsize=12)
plt.legend(title="Category", loc="best")
plt.grid(True)
plt.show()